{% if flash('success') %}
    <div class="alert alert-success">
        {{ get_flash('error') }}
    </div>
{% endif %}
{% if flash('error') %}
    <div class="alert alert-danger">
        {{ get_flash('error') }}
    </div>
{% endif %}
{% if flash('warning') %}
    <div class="alert alert-warning">
        {{ get_flash('warning') }}
    </div>
{% endif %}
{% if flash('info') %}
    <div class="alert alert-info">
        {{ get_flash('info') }}
    </div>
{% endif %}