<div id="toast"><div id="img"><i class="fa fa-info-circle"></i></div><div id="desc"></div></div>
<div class="sponsor-section bg-grey">
    <div class="dots"></div>
    <div class="container">
        <div id="sponsor-carousel" class="sponsor-carousel owl-carousel">
            <div class="sponsor-item">
                <img src="/frontend/img/sponsor1.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="/frontend/img/sponsor2.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="/frontend/img/sponsor3.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="/frontend/img/sponsor4.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="/frontend/img/sponsor5.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="/frontend/img/sponsor6.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="/frontend/img/sponsor7.png" alt="sponsor">
            </div>
            <div class="sponsor-item">
                <img src="/frontend/img/sponsor8.png" alt="sponsor">
            </div>
        </div>
    </div>
</div>
<section class="widget-section padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="widget-content">
                    <a href="#">SOTOTECHSERVICES</a>
                    <p>Building your own home is about desire, fantasy. But it’s achievable anyone can do it.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Compagnie</h4>
                    <ul class="widget-links">
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">Produits</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="/nous-contacter">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Adresse</h4>
                    <p>Quartier Soviépé, Lomé</p>
                    <span><a href="mailto:k.mihesso@sototechservices.com" >k.mihesso@sototechservices.com</a></span>
                    <span>(+228) 93 48 64 93</span>
                    <span>(+33) 612 846 481</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Souscription à la Newsletter</h4>
                    <p>Saissisez votre email pour souscrire à notre newsletter</p>
                    <div class="subscribe-box clearfix">
                        <div class="subscribe-form-wrap">
                            <form action="#" class="subscribe-form">
                                <input type="email" name="email" id="newslettermail" class="form-input" placeholder="">
                                <button type="submit" class="submit-btn" id="addmailtonewsletters">Souscrire</button>
                                <div id="subscribe-result">
                                    <p class="subscription-success"></p>
                                    <p class="subscription-error"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-section align-center">
    <div class="container">
        <p><a href="templateshub.net">Sototech Services</a></p>
    </div>
</footer>
<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_carrot-up"></i></a>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/frontend/js/vendor/jquery-1.12.4.min.js"></script>

<script src="/frontend/js/vendor/bootstrap.min.js"></script>

<script src="/frontend/js/vendor/tether.min.js"></script>

<script src="/frontend/js/vendor/headroom.min.js"></script>

<script src="/frontend/js/vendor/owl.carousel.min.js"></script>

<script src="/frontend/js/vendor/smooth-scroll.min.js"></script>

<script src="/frontend/js/vendor/venobox.min.js"></script>

<script src="/frontend/js/vendor/jquery.ajaxchimp.min.js"></script>

<script src="/frontend/js/vendor/slick.min.js"></script>

<script src="/frontend/js/vendor/waypoints.min.js"></script>

<script src="/frontend/js/vendor/odometer.min.js"></script>

<script src="/frontend/js/vendor/wow.min.js"></script>

<script src="/frontend/js/main.js"></script>

<script src="/frontend/js/frontend.js"></script>
</body>

</html>